.first-part {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem;
  position: relative;
  max-width: 1400px;
  width: 100%;
}
.logo {
  width: 80%;
}
.myHam {
  z-index: 400;
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem;
  width: 20px;
}
.my_cursor {
  cursor: pointer;
}
.menu-desktop {
  display: none;
}
@media (min-width: 720px) {
  .menu-mobile {
    display: none;
  }
  .menu-desktop {
    display: block;
  }
}
.menu-desktop ul {
  display: flex;
}
.menu-desktop a {
  font-family: var(--alata);
  color: var(--white);
  display: block;
  padding: 0.5rem 1rem;
  position: relative;
}
.menu-desktop a::before {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -5px;
  right: 0;
  transform: scale(0, 1);
  transition: 0.3s;
}
.menu-desktop a:hover::before {
  transform: scale(1, 1);
}
.first-part span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .logo {
    width: 100%;
  }
}
