.title-section {
  color: var(--white);
  font-size: 2.2rem;
  max-width: 400px;
  border: 2px solid var(--white);
  padding: 2rem 1rem;
}
.title-section-box {
  margin: 0 1rem;
}
.section-first {
  height: 589px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  max-width: 1400px;
  width: 100%;
}
@media (min-width: 360px) {
  .title-section {
    font-size: 2.5rem;
    padding: 2rem 2rem;
  }
  .title-section-box {
    margin: 0 2rem;
  }
}
@media (min-width: 720px) {
  .section-first {
    justify-content: start;
    align-items: center;
  }
  .title-section {
    font-size: 3rem;
    max-width: 530px;
  }
}
@media (min-width: 1200px) {
  .title-section {
    font-size: 5rem;
    max-width: 700px;
    line-height: 75px;
  }
  .title-section-box {
    margin: 0 1rem;
  }
}
@media (min-width: 1000px) {
  .title-section {
    font-size: 5rem;
    max-width: 700px;
    line-height: 75px;
  }
  .title-section-box {
    margin: 0 1rem;
  }
}
